<div class="nested-fields">
	<div class="form-group">
		<label>Home Phone Number</label>	
		<%= f.input :home_phone_num, :label => false, input_html: { class: 'form-control' } %></br>
		<label>Work Phone Number</label>
		<%= f.input :work_phone_num , :label => false, input_html: { class: 'form-control' }%></br>
		<label>Mobile Phone Number</label>
		<%= f.input :mobile_phone_num , :label => false, input_html: { class: 'form-control' }%></br>
		<%= link_to_remove_association "remove phone detail", f %>
	</div>
</div>